header{
    background-color: rgb(0, 60, 255);
    height: 100px;

}
nav{
    background-color: rgb(0, 255, 42);
    height: 100px;

}
.myclass{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 1px;

}
.imgclass{
    width: 250px;
}
section{
    background-color: rgb(243, 20, 20);
    height: 500px;
    width: 70%;
    float: left;
}
aside{
    height: 500px;
    background-color: darkblue;
    width: 30%;
    line-height: 500px;
    float: left;
}
footer{
    height: 100px;
    line-height: 100px ;
    float: left;
    width: 100%;
    background-color: rgb(70, 39, 39);

}