p{
    color: red;
    background-color: blue;
}
body{
    background-image: url(https://th.bing.com/th/id/R.8de003cb8ac07858546f3d16311e7eb0?rik=BZmuLNp3OkoCfA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fHcVql6N.jpg&ehk=Ck10e0%2fFzVqwnbSQ%2fNNWt3dTobWXT3VE%2bZK427%2fzexc%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}