table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #020000;
    text-align: center;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(255, 252, 252);
  }
  